.idea/
.vscode
.DS_Store
storage/
storage-testnet/
res/
*.dat
*.bin
main
goXdagWallet
go_build_goXdagWallet
goXdagWallet.exe
goXdagWallet.exe~
libxdag_*.a
*.exe
*.apk
*.app
*.log
*.out
*.key
*.dll
*.txt
._*
fyne.syso